{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
<div class="content-section">
  <h5>
    ‘InVision’ is basically a object detection software based on YOLO (darkflow) and Convolution neural network algorithm and some deep learning concepts.
    <br>The main highlight of the system is its ability to use IR camera i.e. to capture and use low-light input and to get input even in low-light or total darkness.
     <br>The matter of concern lies in the need for processing images in low light, such as in night-time surveillance.
     <br> As the principle involves recognizing objects using IR images, it is possible to detect and identify humans or any object on which the system has been trained on.
     <br>The input feed of the IR camera even in low or no light conditions will be captured by it. This system will be helpful for security services, as it can detect unauthorized entry and can take preventive actions like, sounding alarm, alerting the concerned authorities etc.
  </h5>
</div>
{% endblock content %}
